annotated-types==0.7.0
    # via pydantic
archivessnake==0.10.1
    # via -r requirements.in
attrs==26.1.0
    # via archivessnake
aws-assume-role-lib==2.10.0
    # via -r requirements.in
boltons==25.0.0
    # via archivessnake
boto3==1.42.83
    # via
    #   -r requirements.in
    #   aws-assume-role-lib
botocore==1.42.83
    # via
    #   boto3
    #   s3transfer
certifi==2026.2.25
    # via requests
charset-normalizer==3.4.7
    # via requests
idna==3.11
    # via requests
iiif-prezi3==3.1.0
    # via -r requirements.in
jmespath==1.1.0
    # via
    #   boto3
    #   botocore
more-itertools==11.0.1
    # via archivessnake
pillow==12.0.0
    # via
    #   -r requirements.in
    #   iiif-prezi3
pydantic==2.12.5
    # via iiif-prezi3
pydantic-core==2.41.5
    # via pydantic
python-dateutil==2.9.0.post0
    # via botocore
pyyaml==6.0.3
    # via archivessnake
rapidfuzz==3.14.3
    # via archivessnake
requests==2.33.1
    # via
    #   -r requirements.in
    #   archivessnake
    #   iiif-prezi3
s3transfer==0.16.0
    # via boto3
shortuuid==1.0.13
    # via -r requirements.in
six==1.17.0
    # via python-dateutil
structlog==25.5.0
    # via archivessnake
typing-extensions==4.15.0
    # via
    #   pydantic
    #   pydantic-core
    #   typing-inspection
typing-inspection==0.4.2
    # via pydantic
urllib3==2.6.3
    # via
    #   botocore
    #   requests
